.CageCage {
    
    .cage-proper {
        background-repeat: repeat-x;
        background-size: contain;
        background-image: url("../resources/bars.png");
        padding: 50px;
    }

    .add-button {
        padding: 20px;
        border: none;
        border-radius: 5px;
        background-color: coral;
        color: white;
        font-size: 1.3em;
        margin-bottom: 30px;
    }
}