.RandomCage {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    animation-delay: 1s;

    &.cage-1 {
        background-image: url("../resources/cage-(1).png");
    }
    &.cage-2 {
        background-image: url("../resources/cage-(2).png");
    }
    &.cage-3 {
        background-image: url("../resources/cage-(3).png");
    }
    &.cage-4 {
        background-image: url("../resources/cage-(4).png");
    }
    &.cage-5 {
        background-image: url("../resources/cage-(5).png");
    }

    @keyframes shake {
        10%, 90% {
            transform: translate3d(-2px, 0, 0);
        }
        
        20%, 80% {
            transform: translate3d(4px, 0, 0);
        }
        
        30%, 50%, 70% {
            transform: translate3d(-8px, 0, 0);
        }
        
        40%, 60% {
            transform: translate3d(8px, 0, 0);
        }
    }
}